.header-top {
  padding: 20px 0;
  align-items: center;

  .header-logo {
    text-decoration: none;
  }

  .col-9 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__menu {
    @media screen and (max-width: 1280px) {
      column-gap: 14px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin: 0 22px 0 34px;

    @media screen and (max-width: 1280px) {
      margin: 0 14px;
    }

    &-item {
      text-decoration: none;
    }
  }

  &__btn {
    width: 226px;
  }
}
