.header-top {
  padding: 20px 0;
  align-items: center;

  @media screen and (max-width: 768px) {
    width: 85%;
    justify-content: space-between;

    position: absolute;
    z-index: 2;
  }

  .header-logo {
    display: block;
    text-decoration: none;

    @media screen and (max-width: 768px) {
      svg {
        width: 100%;
        path {
          fill: $section-dark-color;
        }
      }
    }
  }

  .header-mobile__btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 6px;

    width: 100%;

    .line {
      display: block;

      width: 20px;
      height: 1px;

      background-color: $section-dark-color;

      &:nth-child(2) {
        width: 14px;
      }
    }
  }

  .col-9 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__menu {
    @media screen and (max-width: 1280px) {
      column-gap: 14px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin: 0 22px 0 34px;

    @media screen and (max-width: 1280px) {
      margin: 0 14px;
    }

    &-item {
      text-decoration: none;
    }
  }

  &__btn {
    width: 226px;
  }
}
