.input-tel {
  padding-bottom: 4px;
  padding-left: 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid $dark-color;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: $dark-color;

  outline: none;
}
