.modal {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100vw;
  height: 100vh;

  &.is-open {
    display: block;
  }

  &-overlay {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    background: rgba(72, 71, 64, 0.75);
    backdrop-filter: blur(20px);

    @media screen and (max-width: 768px) {
      background-color: $white-color;
      backdrop-filter: initial;
    }
  }

  &-content {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 2;

    padding: 95px 0 71px 0;

    @media screen and (max-width: 768px) {
      padding: 60px 0 25px 0;
    }
  }

  &-close {
    position: absolute;
    top: 95px;
    right: 84px;
    z-index: 3;

    cursor: pointer;

    @media screen and (max-width: 768px) {
      top: 20px;
      right: 18px;

      svg {
        path {
          stroke: $dark-color;
        }
      }
    }
  }

  .gallery-slider {
    width: 33%;
    height: 100%;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 90%;
      padding: 0 18px;
    }
  }

  .gallery-slide {
    width: 100%;

    overflow: hidden;
    border-radius: 20px;

    &__image {
      width: 100%;
      height: 100%;

      object-fit: cover;
      user-select: none;
    }
  }

  .gallery-navigation {
    position: absolute;
    bottom: 71px;
    right: 84px;

    @media screen and (max-width: 768px) {
      bottom: 20px;
      right: -34%;
    }

    .slider-navigation__btn {
      border-color: $section-dark-color;
      @media screen and (max-width: 768px) {
        border-color: $dark-color;
      }

      svg {
        path {
          stroke: $section-dark-color;

          @media screen and (max-width: 768px) {
            stroke: $dark-color;
          }
        }
      }
    }
  }
}

.modal[aria-hidden='false'] .modal-container {
  animation: mfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal[aria-hidden='false'] .modal-overlay {
  animation: mfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal[aria-hidden='true'] .modal-container {
  animation: mfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal[aria-hidden='true'] .modal-overlay {
  animation: mfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes mfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
