.section-price {
  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.01em;

    color: $dark-color;

    @media screen and (max-width: 768px) {
      margin-top: 26px;
      margin-bottom: 21px;

      font-size: 20px;
      line-height: 23px;
    }
  }

  &__slider {
    padding-bottom: 100px;

    @media screen and (max-width: 768px) {
      padding-bottom: 0;
    }
  }

  .price-slide {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &__row {
      width: 100%;

      display: grid;
      column-gap: 20px;

      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 210px);

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 173px);
        gap: 10px;
      }
    }

    &__btn {
      @media screen and (max-width: 768px) {
        width: 188px;
        margin-top: 32px;
      }
    }

    &-tool {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin-right: 20px;
    }

    .slider-navigation {
      margin-top: 30px;
    }
  }

  .price-slide__item {
    display: grid;
    grid-row: 1/3;

    @media screen and (max-width: 768px) {
      grid-column: 1/3;
    }

    border-radius: 20px;

    @media screen and (max-width: 768px) {
      border-radius: 8px;
    }

    &-title {
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.01em;

      @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 16px;
        padding: 0 24px;
      }
    }

    &-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;

      width: 142px;
      height: 142px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 50%;
      background: rgba(255, 255, 255, 0.25);
      border: 1px solid #ffffff;

      opacity: 0;
      transform: translate(-50%, -50%);
      will-change: transform;

      transition: opacity 0.25s ease;

      &--small {
        width: 100px;
        height: 100px;

        top: 40%;

        @media screen and (max-width: 768px) {
          width: 65px;
          height: 65px;
          top: 50%;

          svg {
            width: 30px;
          }
        }
      }

      @media screen and (max-width: 768px) {
        width: 65px;
        height: 65px;

        svg {
          width: 30px;
        }
      }
    }
  }

  .price-service {
    position: relative;
    z-index: 1;

    padding-bottom: 30px;

    overflow: hidden;
    cursor: pointer;

    @media screen and (max-width: 768px) {
    }

    &.selected {
      &::before {
        height: 110%;
      }

      .price-slide__item-btn {
        opacity: 1;
      }
    }

    &:hover {
      &::before {
        height: 110%;
      }

      .price-slide__item-btn {
        opacity: 1;
      }
    }

    &::before {
      content: '';

      width: 100%;
      height: 156px;

      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;

      background: linear-gradient(
        180deg,
        rgba(147, 116, 78, 0) 0%,
        rgba(97, 79, 58, 0.253646) 19.58%,
        rgba(52, 43, 32, 0.5639) 53.96%,
        rgba(40, 34, 26, 0.708004) 73.75%,
        rgba(29, 25, 20, 0.85) 100%
      );
      border-radius: 0px 0px 20px 20px;

      transition: height 0.25s ease;

      @media screen and (max-width: 768px) {
        border-radius: 0px 0px 8px 8px;
      }
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }

    &__title {
      width: 100%;

      position: absolute;
      left: 50%;
      bottom: 30px;

      transform: translateX(-50%);

      color: $white-color;

      @media screen and (max-width: 768px) {
        bottom: 10px;
      }
    }

    &--empty {
      &:before {
        content: none;
      }
    }
  }

  .price-work {
    @media screen and (max-width: 768px) {
      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
      }
      &:nth-child(3) {
        grid-column: 1/3;
        grid-row: 2/3;
      }
    }
  }

  .price-stairs {
    @media screen and (max-width: 768px) {
      &:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/2;
      }
      &:nth-child(2) {
        grid-column: 1/3;
        grid-row: 2/3;
      }
    }
  }

  .price-wood {
    &:nth-child(3) {
      grid-row: 1/2;
      margin-bottom: 10px;
    }
    &:nth-child(4) {
      grid-row: 2/3;
      margin-top: 10px;
    }

    @media screen and (max-width: 768px) {
      grid-row: auto;
      grid-column: auto;

      &:nth-child(3),
      &:nth-child(4) {
        grid-row: auto;
        grid-column: auto;
        margin: 0;
      }
    }
  }

  .price-railing__row {
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 50px);

      gap: 10px;
    }
  }

  .price-railing {
    &:nth-child(1) {
      grid-row: 1/3;
    }

    &:nth-child(2),
    &:nth-child(3) {
      grid-row: 1/2;
      margin-bottom: 10px;
    }

    &:nth-child(4),
    &:nth-child(5) {
      grid-row: 2/3;
      margin-top: 10px;
    }

    @media screen and (max-width: 768px) {
      &:nth-child(1),
      &:nth-child(2) {
        grid-column: 1;
        grid-row: auto / span 3;
      }

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        margin: 0;
      }

      &:nth-child(3) {
        grid-column: 2;
        grid-row: 1 / span 2;
      }
      &:nth-child(4) {
        grid-column: 2;
        grid-row: 3 / span 2;
      }
      &:nth-child(5) {
        grid-column: 2;
        grid-row: 5 / span 2;
      }
    }
  }

  .price-info__row {
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 113px);
    }
  }

  .price-info {
    background: $section-dark-color;

    @media screen and (max-width: 768px) {
      display: grid;
      grid-row: auto;

      border-radius: 20px;

      padding: 27px 28px 27px 20px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 768px) {
        flex-direction: row;
        align-items: center;
        column-gap: 25px;
      }
    }

    &__title {
      color: $dark-color;

      padding: 0 26px;

      @media screen and (max-width: 768px) {
        text-align: left;
        padding: 0;
      }
    }

    &__image {
      width: 95px;
      margin: 100px auto;

      @media screen and (max-width: 768px) {
        margin: 0;
        width: 66px;
      }
    }
  }

  // Section top steps preview

  .price-steps {
    display: flex;
    align-items: center;
    column-gap: 15px;

    height: max-content;

    padding-top: 20px;

    @media screen and (max-width: 768px) {
      column-gap: 8px;
    }

    &__title {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      color: $dark-color;

      margin-right: 5px;

      @media screen and (max-width: 768px) {
        display: flex;
        align-items: center;

        font-size: 14px;

        flex: 1 1 50%;

        span {
          display: block;
          margin-left: 4px;
        }
      }
    }

    &__item {
      position: relative;
      width: 68px;
      height: 10px;

      &::before {
        content: '';

        position: absolute;
        bottom: 0;

        width: 100%;
        height: 1px;

        background-color: $btn-dark-color;
        border-radius: 8px;

        transition: background-color 0.25s ease, height 0.25s ease;
      }

      .price-steps__icon {
        .icon-item {
          transition: fill 0.25s ease;
        }
      }

      &.active {
        &:before {
          height: 3px;
          background-color: $accent-color;
        }

        .price-steps__icon {
          .icon-item {
            fill: $accent-color;
          }
        }
      }
    }
    &__icon {
      position: absolute;
      bottom: 8px;
      left: 50%;

      transform: translateX(-50%);
    }
  }

  // Price form

  .price-form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  .price-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 768px) {
      margin-top: 40px;
    }

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      position: absolute;
      transform: scale(0) translateY(0);
      opacity: 0;
      will-change: transform;

      transition: transform 0.5s ease, opacity 0.55s ease;

      &-bg {
        position: absolute;
        width: 120%;

        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      &-item {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        letter-spacing: 0.01em;

        color: $dark-color;
      }

      &-plus {
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 47px;

        color: $accent-color;
      }
    }

    &__top {
      will-change: transform;
      transition: transform 0.5s ease;
    }

    &__bottom {
      margin-top: 3px;
    }
  }

  .price-box.active {
    .price-box__top {
      transform: translateY(-280%) rotate(10deg);

      @media screen and (max-width: 768px) {
        transform: translateY(-10%) rotate(10deg);
      }
    }

    .price-box__text {
      opacity: 1;
      transform: scale(1) translateY(-80%);

      @media screen and (max-width: 768px) {
        position: initial;
        transform: none;
        opacity: 1;
        margin: 50px 0;
      }
    }
  }
}
