.section-price {
  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.01em;

    color: $dark-color;

    @media screen and (max-width: 768px) {
      margin-top: 26px;
      margin-bottom: 21px;

      font-size: 20px;
      line-height: 23px;
    }
  }

  &__slider {
    padding-bottom: 100px;
  }

  .price-slide {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &__row {
      display: flex;
      column-gap: 20px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
      }
    }

    &__btn {
      @media screen and (max-width: 768px) {
        width: 188px;
        margin-top: 32px;
      }
    }

    &-tool {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin-right: 20px;
    }
  }

  .price-slide__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 33%;
    height: 405px;

    border-radius: 20px;

    @media screen and (max-width: 768px) {
      flex-direction: row;
    }

    &-title {
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.01em;

      @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 16px;
      }
    }

    &-btn {
      position: absolute;
      top: 50%;
      z-index: 2;

      width: 142px;
      height: 142px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 50%;
      background: rgba(255, 255, 255, 0.25);
      border: 1px solid #ffffff;

      opacity: 0;
      transform: translateY(-50%);

      transition: opacity 0.25s ease;

      &--small {
        width: 100px;
        height: 100px;

        top: 40%;
      }
    }
  }

  .price-service {
    position: relative;
    z-index: 1;

    padding-bottom: 30px;

    justify-content: flex-end;

    overflow: hidden;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      flex: 1 1 auto;
      flex-direction: column;

      max-height: 173px;
    }

    &.selected {
      &::before {
        height: 110%;
      }

      .price-slide__item-btn {
        opacity: 1;
      }
    }

    &:hover {
      &::before {
        height: 110%;
      }

      .price-slide__item-btn {
        opacity: 1;
      }
    }

    &::before {
      content: '';

      width: 100%;
      height: 156px;

      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;

      background: linear-gradient(
        180deg,
        rgba(147, 116, 78, 0) 0%,
        rgba(97, 79, 58, 0.253646) 19.58%,
        rgba(52, 43, 32, 0.5639) 53.96%,
        rgba(40, 34, 26, 0.708004) 73.75%,
        rgba(29, 25, 20, 0.85) 100%
      );
      border-radius: 0px 0px 20px 20px;

      transition: height 0.25s ease;
    }

    &__col {
      display: flex;
      flex-direction: column;
      flex: 1 1 33%;

      row-gap: 20px;
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }

    &__title {
      color: $white-color;
    }

    &--empty {
      &:before {
        content: none;
      }
    }
  }

  .price-info {
    height: 405px;

    background: $section-dark-color;

    @media screen and (max-width: 768px) {
      height: 114px;
      column-gap: 25px;

      padding: 27px 28px 27px 20px;
    }

    &__title {
      color: $dark-color;

      padding: 0 26px;

      @media screen and (max-width: 768px) {
        text-align: left;
        padding: 0;
      }
    }

    &__image {
      width: 95px;
      margin: 100px 0;

      @media screen and (max-width: 768px) {
        margin: 0;
        width: 66px;
      }
    }
  }

  // Section top steps preview

  .price-steps {
    display: flex;
    align-items: center;
    column-gap: 15px;

    height: max-content;

    padding-top: 20px;

    @media screen and (max-width: 768px) {
      column-gap: 8px;
    }

    &__title {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      color: $dark-color;

      margin-right: 5px;

      @media screen and (max-width: 768px) {
        display: flex;
        align-items: center;

        font-size: 14px;

        flex: 1 1 50%;

        span {
          display: block;
          margin-left: 4px;
        }
      }
    }

    &__item {
      position: relative;
      width: 68px;
      height: 10px;

      &::before {
        content: '';

        position: absolute;
        bottom: 0;

        width: 100%;
        height: 1px;

        background-color: $btn-dark-color;
        border-radius: 8px;

        transition: background-color 0.25s ease, height 0.25s ease;
      }

      .price-steps__icon {
        .icon-item {
          transition: fill 0.25s ease;
        }
      }

      &.active {
        &:before {
          height: 3px;
          background-color: $accent-color;
        }

        .price-steps__icon {
          .icon-item {
            fill: $accent-color;
          }
        }
      }
    }
    &__icon {
      position: absolute;
      bottom: 8px;
      left: 50%;

      transform: translateX(-50%);
    }
  }

  // Price form

  .price-form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  .price-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      position: absolute;
      transform: scale(0) translateY(0);
      opacity: 0;
      will-change: transform;

      transition: transform 0.5s ease, opacity 0.55s ease;

      &-bg {
        position: absolute;
        width: 100%;
      }

      &-item {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        letter-spacing: 0.01em;

        color: $dark-color;
      }

      &-plus {
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 47px;

        color: $accent-color;
      }
    }

    &__top {
      will-change: transform;
      transition: transform 0.5s ease;
    }

    &__bottom {
      margin-top: 3px;
    }
  }

  .price-box.active {
    .price-box__top {
      transform: translateY(-280%) rotate(10deg);
    }

    .price-box__text {
      opacity: 1;
      transform: scale(1) translateY(-80%);
    }
  }
}
