.section-services {
  .services-list {
    column-gap: 20px;
  }

  .col-4 {
    width: calc(33% - 20px);
  }

  .service-item {
    position: relative;
    z-index: 1;
    height: 550px;

    border-radius: 20px;
    overflow: hidden;

    cursor: pointer;

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }

    &__info {
      position: absolute;
      bottom: 0;

      width: 100%;
      height: 39%;

      display: flex;
      justify-content: center;
      align-items: flex-end;

      background: linear-gradient(
        180deg,
        rgba(147, 116, 78, 0) 0%,
        rgba(97, 79, 58, 0.253646) 19.58%,
        rgba(52, 43, 32, 0.5639) 53.96%,
        rgba(40, 34, 26, 0.708004) 73.75%,
        rgba(29, 25, 20, 0.85) 100%
      );

      padding: 0 54px 25px 54px;

      transition: height 0.45s ease, background 0.75s ease;

      @media screen and (min-width: 768px) and (max-width: 1200px) {
        padding: 0 28px 25px 28px;
      }

      @media screen and (max-width: 768px) {
        padding: 0 36px 36px 36px;
      }

      &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.02em;

        color: $white-color;

        @media screen and (max-width: 768px) {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }

    &__btn {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;

      transform: translate(-50%, -50%) scale(0);

      will-change: transform;
      transition: transform 0.45s ease;
    }
  }

  .service-item:hover {
    .service-item__info {
      height: 100%;
      background: rgba(0, 0, 0, 0.55);
    }

    .service-item__btn {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  @media screen and (max-width: 768px) {
  }
}
