@import 'fonts';
@import 'variables';

@import './components/header';
@import './components/button';
@import './components/decorations';
@import './components/section';
@import './components/slider';

@import './sections/promo';
@import './sections/services';

@import './grid.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
}
