@import 'fonts';
@import 'variables';

@import './components/header';
@import './components/button';
@import './components/decorations';
@import './components/section';
@import './components/slider';
@import './components/inputs';
@import './components/menu';
@import './components/footer';
@import './components/modal';

@import './sections/promo';
@import './sections/services';
@import './sections/about';
@import './sections/portfolio';
@import './sections/consultation';
@import './sections/reviews';
@import './sections/steps';
@import './sections/price';

@import './grid.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  overflow-x: hidden;
}
